html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
}
body > .container {
    padding: 60px 15px 0;
}
.height100{
    height: 100%;
}
.likeTable {
    display: table;
    table-layout: fixed;
    height: 100%;
}
.likeCell {
    display:table-cell;
    vertical-align:middle;
}
.float-center{
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
}
.table-vertical-middle tbody td{
    vertical-align: middle !important;
}
.table .num{
    width: 1%;
    text-align: center;
}
.alert-fixed{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.tabla-subTitle{
    font-size: 17px;
    color: #007196;
    width: auto;
}
.sidenav {
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.form {
    box-shadow: 4px 4px 20px #23406A;
    margin: auto;
    background: rgb(255, 255, 253);
    width: 360px;
    margin-top: 5%;
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.form select {
    background: #abc6d4;
    width: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 9px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}
.form input {
    border: 0;
    margin: 0 0 12px;
    padding: 9px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
    background: #abc6d4;
}
.cajatexto {
    width: 300px;
}
.form .buscar {
    text-transform: uppercase;
    background: #263238;
    width: 303px;
    padding: 12px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form .buscar:hover, .form .buscar:active, .form .buscar:focus {
    background: #263238;
}
button.Zebra_DatePicker_Icon_Inside_Right {
    margin: 0 3px 0 0;
}
button.Zebra_DatePicker_Icon {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/calendar.png) no-repeat left top;
    text-indent: -9000px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    vertical-align: top;
}
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.md-align-center {
    justify-content: center;
}
.md-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.datepicker-fecha{
    background-color: white;
}
.md-datepicker{
    padding: 9px;
    box-sizing: border-box;

    border-radius: 4px;
    background: #abc6d4;
}

.md-icon-image svg {
    height: 86% !important;

}
.md-field.md-focused .md-input, .md-field.md-focused .md-textarea, .md-field.md-has-value .md-input, .md-field.md-has-value .md-textarea {
    font-size: 14px !important;
}

.md-input{
    margin:0px !important;
}
.md-field {
    width: 94% !important;
    margin: 2px 8px 13px !important;
}
.md-datepicker-dialog{
    background-color: white;
}
/* width */
::-webkit-scrollbar {
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #455a64 !important;
    border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ada5a5 !important;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.lesly {
    background-color: #4CAF50 !important;
}

.datepicker-date-display {
    background-color: #039be5 !important;
}
.datepicker-table td.is-selected {
    background-color: #039be5 !important;
}
.main-loader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
 }
 .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }